In [368]:
import pandas as pd
import numpy as np

df_kaggle = pd.read_csv('../data/kaggle_protein_data/pdb_data_seq.csv')
df_kaggle_xray = pd.read_csv('../data/kaggle_protein_data/pdb_data_no_dups.csv')
df_pdb_archive = pd.read_csv('../data/df.csv')
df_pfam_codes = pd.read_csv('../data/df_pfam_codes.csv')

df_k = df_kaggle.copy()
df_xray = df_kaggle_xray.copy()
df_pfam = df_pfam_codes.copy()
df = df_pdb_archive.copy()

In [369]:
df_k.head(10)

,structureId,chainId,sequence,residueCount,macromoleculeType
0,100D,A,CCGGCGCCGG,20,DNA/RNA Hybrid
1,100D,B,CCGGCGCCGG,20,DNA/RNA Hybrid
2,101D,A,CGCGAATTCGCG,24,DNA
3,101D,B,CGCGAATTCGCG,24,DNA
4,101M,A,MVLSEGEWQLVLHVWAKVEADVAGHGQDILIRLFKSHPETLEKFDR...,154,Protein
5,102D,A,CGCAAATTTGCG,24,DNA
6,102D,B,CGCAAATTTGCG,24,DNA
7,102L,A,MNIFEMLRIDEGLRLKIYKDTEGYYTIGIGHLLTKSPSLNAAAKSE...,165,Protein
8,102M,A,MVLSEGEWQLVLHVWAKVEADVAGHGQDILIRLFKSHPETLEKFDR...,154,Protein
9,103D,A,GTGGAATGGAAC,24,DNA

In [370]:
df_xray.head(5)

,structureId,classification,experimentalTechnique,macromoleculeType,residueCount,resolution,structureMolecularWeight,crystallizationMethod,crystallizationTempK,densityMatthews,densityPercentSol,pdbxDetails,phValue,publicationYear
0,100D,DNA-RNA HYBRID,X-RAY DIFFRACTION,DNA/RNA Hybrid,20,1.90,6360.30,"VAPOR DIFFUSION, HANGING DROP",NaN,1.78,30.89,"pH 7.00, VAPOR DIFFUSION, HANGING DROP",7.0,1994.0
1,101D,DNA,X-RAY DIFFRACTION,DNA,24,2.25,7939.35,NaN,NaN,2.00,38.45,NaN,NaN,1995.0
2,101M,OXYGEN TRANSPORT,X-RAY DIFFRACTION,Protein,154,2.07,18112.80,NaN,NaN,3.09,60.20,"3.0 M AMMONIUM SULFATE, 20 MM TRIS, 1MM EDTA, ...",9.0,1999.0
3,102D,DNA,X-RAY DIFFRACTION,DNA,24,2.20,7637.17,"VAPOR DIFFUSION, SITTING DROP",277.0,2.28,46.06,"pH 7.00, VAPOR DIFFUSION, SITTING DROP, temper...",7.0,1995.0
4,102L,HYDROLASE(O-GLYCOSYL),X-RAY DIFFRACTION,Protein,165,1.74,18926.61,NaN,NaN,2.75,55.28,NaN,NaN,1993.0

In [371]:
df.head(5)

,sequence,pdb_id,mol,length,mol_description
0,CCGGCGCCGG,100d_A,na,10,DNA/RNA (5'-R(*CP*)-D(*CP*GP*GP*CP*GP*CP*CP*GP...
1,CCGGCGCCGG,100d_B,na,10,DNA/RNA (5'-R(*CP*)-D(*CP*GP*GP*CP*GP*CP*CP*GP...
2,CGCGAATTCGCG,101d_A,na,12,DNA (5'-D(*CP*GP*CP*GP*AP*AP*TP*TP*(CBR)P*GP*C...
3,CGCGAATTCGCG,101d_B,na,12,DNA (5'-D(*CP*GP*CP*GP*AP*AP*TP*TP*(CBR)P*GP*C...
4,MVLSEGEWQLVLHVWAKVEADVAGHGQDILIRLFKSHPETLEKFDR...,101m_A,protein,154,MYOGLOBIN

In [372]:
df_id = df['pdb_id'].str.split('_', expand=True)
df_id.head(10)

      0  1
0  100d  A
1  100d  B
2  101d  A
3  101d  B
4  101m  A
5  102d  A
6  102d  B
7  102l  A
8  102m  A
9  103d  A

In [373]:
df['id_pdb'] = df_id[0]
df['subunit'] = df_id[1]
df.head()

,sequence,pdb_id,mol,length,mol_description,id_pdb,subunit
0,CCGGCGCCGG,100d_A,na,10,DNA/RNA (5'-R(*CP*)-D(*CP*GP*GP*CP*GP*CP*CP*GP...,100d,A
1,CCGGCGCCGG,100d_B,na,10,DNA/RNA (5'-R(*CP*)-D(*CP*GP*GP*CP*GP*CP*CP*GP...,100d,B
2,CGCGAATTCGCG,101d_A,na,12,DNA (5'-D(*CP*GP*CP*GP*AP*AP*TP*TP*(CBR)P*GP*C...,101d,A
3,CGCGAATTCGCG,101d_B,na,12,DNA (5'-D(*CP*GP*CP*GP*AP*AP*TP*TP*(CBR)P*GP*C...,101d,B
4,MVLSEGEWQLVLHVWAKVEADVAGHGQDILIRLFKSHPETLEKFDR...,101m_A,protein,154,MYOGLOBIN,101m,A

### EXCLUDE NUCLEIC ACIDS:

In [374]:
# Exclude the nucleic acids:
print(f'Full pdb dataset:{df.shape}')
df = df[df['mol']=='protein']
print(f'Excluding DNA/RNA:{df.shape}')

df.head(10)

Full pdb dataset:(767333, 7)
Excluding DNA/RNA:(722336, 7)

,sequence,pdb_id,mol,length,mol_description,id_pdb,subunit
4,MVLSEGEWQLVLHVWAKVEADVAGHGQDILIRLFKSHPETLEKFDR...,101m_A,protein,154,MYOGLOBIN,101m,A
7,MNIFEMLRIDEGLRLKIYKDTEGYYTIGIGHLLTKSPSLNAAAKSE...,102l_A,protein,165,T4 LYSOZYME,102l,A
8,MVLSEGEWQLVLHVWAKVEADVAGHGQDILIRLFKSHPETLEKFDR...,102m_A,protein,154,MYOGLOBIN,102m,A
11,MNIFEMLRIDEGLRLKIYKDTEGYYTIGIGHLLTKSPSLNSLDAAK...,103l_A,protein,167,T4 LYSOZYME,103l,A
12,MVLSEGEWQLVLHVWAKVEADVAGHGQDILIRLFKSHPETLEKFDR...,103m_A,protein,154,MYOGLOBIN,103m,A
15,MNIFEMLRIDEGLRLKIYKDTEGYYTIGIGHLLTKSPSLNAAKSAA...,104l_A,protein,166,T4 LYSOZYME,104l,A
16,MNIFEMLRIDEGLRLKIYKDTEGYYTIGIGHLLTKSPSLNAAKSAA...,104l_B,protein,166,T4 LYSOZYME,104l,B
17,VLSEGEWQLVLHVWAKVEADVAGHGQDILIRLFKSHPETLEKFDRF...,104m_A,protein,153,MYOGLOBIN,104m,A
22,VLSEGEWQLVLHVWAKVEADVAGHGQDILIRLFKSHPETLEKFDRF...,105m_A,protein,153,MYOGLOBIN,105m,A
27,MVLSEGEWQLVLHVWAKVEADVAGHGQDILIRLFKSHPETLEKFDR...,106m_A,protein,154,MYOGLOBIN,106m,A

### MISSING VALUES:

In [375]:
df.isna().sum()

sequence            0
pdb_id              0
mol                 0
length              0
mol_description    24
id_pdb              0
subunit             0
dtype: int64

In [376]:
df_nan = df[df['mol_description'].isna()]
df_nan

,sequence,pdb_id,mol,length,mol_description,id_pdb,subunit
9642,TVAYIAIGSNLASPLEQVNAALKALGDIPESHILTVSSFYRTPPLG...,1dy3_A,protein,158,NaN,1dy3,A
45416,MLVVPAIDLFRGKVARMIKGRKENTIFYEKDPVELVEKLIEEGFTL...,1qo2_A,protein,241,NaN,1qo2,A
45417,MLVVPAIDLFRGKVARMIKGRKENTIFYEKDPVELVEKLIEEGFTL...,1qo2_B,protein,241,NaN,1qo2,B
124262,ELSENFKKLMKYPYRPCTCTRCIEEQRVSAWFDERFNRSMQPLLTA...,2wnb_A,protein,298,NaN,2wnb,A
336577,MIIPALNLIDGTVVRLHQGDYARQRDYGNDPLPRLQDYAAQGAGVL...,5a5w_A,protein,253,NaN,5a5w,A
336882,ANSVQQQLEALEKSSGGRLGVALINTADNSQILYRADERFAMCSTS...,5a91_A,protein,262,NaN,5a91,A
337299,MIIPALDLIGGTVVRVVRLHQGDYARLRDYGNDPLPRLQDYAAQGA...,5ac6_A,protein,256,NaN,5ac6,A
337300,MIIPALNLIGGTVVRVVRLHQGDYARQRDYGNDPLPRLQDYAAQGA...,5ac7_A,protein,256,NaN,5ac7,A
337301,MIIPALNLIGGTVVRVVRLHQGDYARQRDYGNDPLPRLQDYAAQGA...,5ac7_B,protein,256,NaN,5ac7,B
337302,MIIPALDLIGGTVVRVVRLHQGDYARQRDYGNDPLPRLQDYAAQGA...,5ac8_A,protein,256,NaN,5ac8,A
337917,MIIPALDLIDGTVVRLHQGDYARQRDYGNDPLPRLQDYAAQGAGVL...,5ahe_A,protein,253,NaN,5ahe,A
337918,MIIPALNLIDGTVVRLHQGDYARQRDYGNDPLPRLQDYAAQGAGVL...,5ahf_A,protein,253,NaN,5ahf,A
359037,MKLSGVELRRVQMPLVAPFRTSFGTQSVRELLLLRAVTPAGEGWGE...,5fjo_A,protein,368,NaN,5fjo,A
359038,MKLSGVELRRVQMPLVAPFRTSFGTQSVRELLLLRAVTPAGEGWGE...,5fjo_B,protein,368,NaN,5fjo,B
360982,MIIPALDLIGGTVVRVVRLHQGDYARQRDYGNDPLPRLQDYAAQGA...,5g1t_A,protein,256,NaN,5g1t,A
361000,MIIPALDLIGGTVVRVMRLHQGDYARLRDYGNDPLPRLQDYAAQGA...,5g1y_A,protein,256,NaN,5g1y,A
361053,MIIPALDLIDGTVVRLHQGDYARQRDYGNDPLPRLQDYAAQGAGVL...,5g2h_A,protein,253,NaN,5g2h,A
361054,MIIPALDLIDGTVVRVVRLHQGDYARQRDYGNDPLPRLQDYAAQGA...,5g2i_A,protein,256,NaN,5g2i,A
361083,MIIPALDLIGGTVVRLHQGDYARQRDYGNDPLPRLQDYAAQGAGVL...,5g2w_A,protein,253,NaN,5g2w,A
361157,MGSSHHHHHHSSGLVPRGSHMQGSLMLDIGGTWLTAEDRQILRHPE...,5g3r_A,protein,352,NaN,5g3r,A
361158,MGSSHHHHHHSSGLVPRGSHMQGSLMLDIGGTWLTAEDRQILRHPE...,5g3r_B,protein,352,NaN,5g3r,B
361201,MIIPALDLIGGTVVRVVRLHQGDYARLRDYGNDPLPRLQDYAAQGA...,5g4e_A,protein,256,NaN,5g4e,A
361202,MIIPALDLIGGTVVRVVRLHQGDYARLRDYGNDPLPRLQDYAAQGA...,5g4e_B,protein,256,NaN,5g4e,B
361300,MIIPALDLIGGTVVRLHQGDYARQRDYGNDPLPRLQDYAAQGAGVL...,5g5i_A,protein,253,NaN,5g5i,A

In [377]:
prot_ids = list(df_nan['id_pdb'].unique())
prot_ids

['1dy3',
 '1qo2',
 '2wnb',
 '5a5w',
 '5a91',
 '5ac6',
 '5ac7',
 '5ac8',
 '5ahe',
 '5ahf',
 '5fjo',
 '5g1t',
 '5g1y',
 '5g2h',
 '5g2i',
 '5g2w',
 '5g3r',
 '5g4e',
 '5g5i']

>NOTE: I found the following classification labels by manually entering the protein id into the pdb search bar.  This was feasable only because there were only 20 missing labels, but figuring out how to use the pdb api for this would be idea in future applications.

In [378]:
missing_lables = {
      '1dy3': 'PYROPHOSPHORYLASE'
    , '1qo2': 'ISOMERASE'
    , '2wnb': 'TRANSFERASE'
    , '5a5w': 'ISOMERASE'
    , '5a91': 'HYDROLASE'
    , '5ac6': 'ISOMERASE'
    , '5ac7': 'ISOMERASE'
    , '5ac8': 'ISOMERASE'
    , '5ahe': 'ISOMERASE'
    , '5ahf': 'ISOMERASE'
    , '5fjo': 'LYASE'
    , '5g1t': 'ISOMERASE'
    , '5g1y': 'ISOMERASE'
    , '5g2h': 'ISOMERASE'
    , '5g2i': 'ISOMERASE'
    , '5g2w': 'ISOMERASE'
    , '5g3r': 'HYDROLASE'
    , '5g4e': 'ISOMERASE'
    , '5g5i': 'ISOMERASE'
}

In [379]:
df['mol_description'] = df['mol_description'].fillna(df['id_pdb'].map(missing_lables))
df.isna().sum()

sequence           0
pdb_id             0
mol                0
length             0
mol_description    0
id_pdb             0
subunit            0
dtype: int64

In [364]:
df['mol_description'].nunique()

81534

## TARGET VARIABLE REFINEMENT:

In [380]:
df.head()

,sequence,pdb_id,mol,length,mol_description,id_pdb,subunit
4,MVLSEGEWQLVLHVWAKVEADVAGHGQDILIRLFKSHPETLEKFDR...,101m_A,protein,154,MYOGLOBIN,101m,A
7,MNIFEMLRIDEGLRLKIYKDTEGYYTIGIGHLLTKSPSLNAAAKSE...,102l_A,protein,165,T4 LYSOZYME,102l,A
8,MVLSEGEWQLVLHVWAKVEADVAGHGQDILIRLFKSHPETLEKFDR...,102m_A,protein,154,MYOGLOBIN,102m,A
11,MNIFEMLRIDEGLRLKIYKDTEGYYTIGIGHLLTKSPSLNSLDAAK...,103l_A,protein,167,T4 LYSOZYME,103l,A
12,MVLSEGEWQLVLHVWAKVEADVAGHGQDILIRLFKSHPETLEKFDR...,103m_A,protein,154,MYOGLOBIN,103m,A

In [381]:
df_pfam.head()

,PdbID,DomainID,AsymChain,EntityID,Pfam_Acc,Pfam_ID,Description,IsWeak,Clan_ID,Clan_Acc,UniprotID,UniprotCode
0,101m,1,A,1,PF00042,Globin,Globin,0,Globin,CL0090,MYG_PHYCD,P02185
1,102l,1,A,1,PF00959,Phage_lysozyme,Phage lysozyme,0,Lysozyme,CL0037,-,-
2,103l,1,A,1,PF00959,Phage_lysozyme,Phage lysozyme,0,Lysozyme,CL0037,-,-
3,104l,1,A,1,PF00959,Phage_lysozyme,Phage lysozyme,0,Lysozyme,CL0037,-,-
4,104l,2,B,1,PF00959,Phage_lysozyme,Phage lysozyme,0,Lysozyme,CL0037,-,-

In [382]:
df_pfam.nunique()

PdbID          186544
DomainID         2712
AsymChain        1633
EntityID          113
Pfam_Acc        10889
Pfam_ID         10889
Description     11517
IsWeak              2
Clan_ID           615
Clan_Acc          615
UniprotID       57838
UniprotCode     57515
dtype: int64

In [383]:
df_class = df_pfam[['Pfam_ID', 'Description', 'Clan_ID']].copy()
df_class['id_pdb'] = df_pfam['PdbID']

df = df.merge(df_class, how='left', on='id_pdb')
df.head()

,sequence,pdb_id,mol,length,mol_description,id_pdb,subunit,Pfam_ID,Description,Clan_ID
0,MVLSEGEWQLVLHVWAKVEADVAGHGQDILIRLFKSHPETLEKFDR...,101m_A,protein,154,MYOGLOBIN,101m,A,Globin,Globin,Globin
1,MNIFEMLRIDEGLRLKIYKDTEGYYTIGIGHLLTKSPSLNAAAKSE...,102l_A,protein,165,T4 LYSOZYME,102l,A,Phage_lysozyme,Phage lysozyme,Lysozyme
2,MVLSEGEWQLVLHVWAKVEADVAGHGQDILIRLFKSHPETLEKFDR...,102m_A,protein,154,MYOGLOBIN,102m,A,NaN,NaN,NaN
3,MNIFEMLRIDEGLRLKIYKDTEGYYTIGIGHLLTKSPSLNSLDAAK...,103l_A,protein,167,T4 LYSOZYME,103l,A,Phage_lysozyme,Phage lysozyme,Lysozyme
4,MVLSEGEWQLVLHVWAKVEADVAGHGQDILIRLFKSHPETLEKFDR...,103m_A,protein,154,MYOGLOBIN,103m,A,NaN,NaN,NaN

In [405]:
df_xray = df_kaggle_xray.copy()
df_xray.head(2)

,structureId,classification,experimentalTechnique,macromoleculeType,residueCount,resolution,structureMolecularWeight,crystallizationMethod,crystallizationTempK,densityMatthews,densityPercentSol,pdbxDetails,phValue,publicationYear
0,100D,DNA-RNA HYBRID,X-RAY DIFFRACTION,DNA/RNA Hybrid,20,1.90,6360.30,"VAPOR DIFFUSION, HANGING DROP",NaN,1.78,30.89,"pH 7.00, VAPOR DIFFUSION, HANGING DROP",7.0,1994.0
1,101D,DNA,X-RAY DIFFRACTION,DNA,24,2.25,7939.35,NaN,NaN,2.00,38.45,NaN,NaN,1995.0

In [406]:
# Drop data relevent to xray crystallography:
df_xray.drop(columns=[
    'resolution',
    'crystallizationMethod',
    'crystallizationTempK',
    'densityMatthews',
    'experimentalTechnique',
    'densityPercentSol',
    'pdbxDetails',
    'phValue',
    'publicationYear'], inplace=True)

In [407]:
df_xray.head(5)

,structureId,classification,macromoleculeType,residueCount,structureMolecularWeight
0,100D,DNA-RNA HYBRID,DNA/RNA Hybrid,20,6360.30
1,101D,DNA,DNA,24,7939.35
2,101M,OXYGEN TRANSPORT,Protein,154,18112.80
3,102D,DNA,DNA,24,7637.17
4,102L,HYDROLASE(O-GLYCOSYL),Protein,165,18926.61

In [408]:
df_xray.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141401 entries, 0 to 141400
Data columns (total 5 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   structureId               141401 non-null  object
 1   classification            141399 non-null  object
 2   macromoleculeType         137636 non-null  object
 3   residueCount              141401 non-null  int64
 4   structureMolecularWeight  141401 non-null  float64
dtypes: float64(1), int64(1), object(3)
memory usage: 5.4+ MB

In [409]:
# Drop the nucleic acids again and the column once made redundant:
df_xray = df_xray[df_xray['macromoleculeType']=='Protein']
df_xray.drop(columns=['macromoleculeType'], inplace=True)

# Convert molecular weight to kDa from Da:
df_xray['structureMolecularWeight'] = round(df_xray['structureMolecularWeight']*0.001, 2)

# Rename columns:
df_xray.rename(
    columns=({
          'structureId': 'id_pdb'
        ,	'classification': 'class'
        ,	'residueCount': 'length'
        ,	'structureMolecularWeight': 'kDa'
    }), inplace=True
)

# Prep ids for merge:
df_xray['id_pdb'] = df_xray['id_pdb'].str.lower()
df_xray.head()

  id_pdb                  class  length    kDa
2   101m       OXYGEN TRANSPORT     154  18.11
4   102l  HYDROLASE(O-GLYCOSYL)     165  18.93
5   102m       OXYGEN TRANSPORT     154  18.01
7   103l  HYDROLASE(O-GLYCOSYL)     167  19.09
8   103m       OXYGEN TRANSPORT     154  18.09

In [411]:
df = df.merge(df_xray, how='inner', on=('id_pdb', 'length'))
df.head()

,sequence,pdb_id,mol,length,mol_description,id_pdb,subunit,Pfam_ID,Description,Clan_ID,class,kDa
0,MVLSEGEWQLVLHVWAKVEADVAGHGQDILIRLFKSHPETLEKFDR...,101m_A,protein,154,MYOGLOBIN,101m,A,Globin,Globin,Globin,OXYGEN TRANSPORT,18.11
1,MNIFEMLRIDEGLRLKIYKDTEGYYTIGIGHLLTKSPSLNAAAKSE...,102l_A,protein,165,T4 LYSOZYME,102l,A,Phage_lysozyme,Phage lysozyme,Lysozyme,HYDROLASE(O-GLYCOSYL),18.93
2,MVLSEGEWQLVLHVWAKVEADVAGHGQDILIRLFKSHPETLEKFDR...,102m_A,protein,154,MYOGLOBIN,102m,A,NaN,NaN,NaN,OXYGEN TRANSPORT,18.01
3,MNIFEMLRIDEGLRLKIYKDTEGYYTIGIGHLLTKSPSLNSLDAAK...,103l_A,protein,167,T4 LYSOZYME,103l,A,Phage_lysozyme,Phage lysozyme,Lysozyme,HYDROLASE(O-GLYCOSYL),19.09
4,MVLSEGEWQLVLHVWAKVEADVAGHGQDILIRLFKSHPETLEKFDR...,103m_A,protein,154,MYOGLOBIN,103m,A,NaN,NaN,NaN,OXYGEN TRANSPORT,18.09

In [416]:
# Rearrange columns:
df = df[[
    'id_pdb'
  , 'subunit'
  , 'mol_description'
  , 'Description'
  , 'Pfam_ID'
  , 'Clan_ID'
  , 'class'
  , 'length'
  , 'kDa'
  , 'sequence'
]].copy()

df.head()

,id_pdb,subunit,mol_description,Description,Pfam_ID,Clan_ID,class,length,kDa,sequence
0,101m,A,MYOGLOBIN,Globin,Globin,Globin,OXYGEN TRANSPORT,154,18.11,MVLSEGEWQLVLHVWAKVEADVAGHGQDILIRLFKSHPETLEKFDR...
1,102l,A,T4 LYSOZYME,Phage lysozyme,Phage_lysozyme,Lysozyme,HYDROLASE(O-GLYCOSYL),165,18.93,MNIFEMLRIDEGLRLKIYKDTEGYYTIGIGHLLTKSPSLNAAAKSE...
2,102m,A,MYOGLOBIN,NaN,NaN,NaN,OXYGEN TRANSPORT,154,18.01,MVLSEGEWQLVLHVWAKVEADVAGHGQDILIRLFKSHPETLEKFDR...
3,103l,A,T4 LYSOZYME,Phage lysozyme,Phage_lysozyme,Lysozyme,HYDROLASE(O-GLYCOSYL),167,19.09,MNIFEMLRIDEGLRLKIYKDTEGYYTIGIGHLLTKSPSLNSLDAAK...
4,103m,A,MYOGLOBIN,NaN,NaN,NaN,OXYGEN TRANSPORT,154,18.09,MVLSEGEWQLVLHVWAKVEADVAGHGQDILIRLFKSHPETLEKFDR...

In [384]:
df.to_csv('../data/model_data.csv', index=False)

In [ ]:
df['mol'].nunique()

In [ ]:
df['mol'].nunique()

In [269]:
df = df[df.where(~df.isin(df_enzymes)).notna()]
df.dropna(inplace=True)
df['label'].value_counts().head(20)

RIBOSOMAL                       84768
HEAVY CHAIN                     11495
LIGHT CHAIN                     10834
CAPSID PROTEIN                   5335
COAT PROTEIN                     4587
SPIKE GLYCOPROTEIN               2634
UNCHARACTERIZED PROTEIN          2177
CAPSID PROTEIN VP1               2158
MAJOR CAPSID PROTEIN             2115
BETA-2-MICROGLOBULIN             2091
HEMAGGLUTININ                    1321
HISTONE H4                       1276
B-PHYCOERYTHRIN BETA CHAIN       1106
PHYCOERYTHRIN ALPHA SUBUNIT      1044
LYSOZYME C                       1013
NON-STRUCTURAL PROTEIN 3          984
ACTIN, ALPHA SKELETAL MUSCLE      968
MICROCOMPARTMENTS PROTEIN         931
FERRITIN                          914
TRANSTHYRETIN                     893
Name: label, dtype: int64

In [ ]:
aminos = ['A', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'K', 'L', 'M', 'N', 'P', 'Q', 'R', 'S', 'T', 'V', 'W', 'Y']
for letter in aminos:
    df_train[letter] = df_train.protein_sequence.str.count(letter)
    df_test[letter] = df_test.protein_sequence.str.count(letter)

[table of amino acid physical properties](https://www.thermofisher.com/ca/en/home/life-science/protein-biology/protein-biology-learning-center/protein-biology-resource-library/pierce-protein-methods/amino-acid-physical-properties.html)

In [29]:
df_aa = pd.read_csv('../research/aa_phys_properties.csv')
df_aa

,Amino Acid,Code,Hydropathy,Charge,pKa NH2,pKa COOH,pK(R),Solubility
0,Arginine,R,hydrophilic,+,9.09,2.18,13.2,71.8
1,Asparagine,N,hydrophilic,N,8.80,2.02,,2.4
2,Aspartate,D,hydrophilic,-,9.60,1.88,3.65,0.42
3,Glutamate,E,hydrophilic,-,9.67,2.19,4.25,0.72
4,Glutamine,Q,hydrophilic,N,9.13,2.17,,2.6
5,Lysine,K,hydrophilic,+,10.28,8.90,2.2,NaN
6,Serine,S,hydrophilic,N,9.15,2.21,,36.2
7,Threonine,T,hydrophilic,N,9.12,2.15,,freely
8,Cysteine,C,moderate,N,10.78,1.71,8.33,freely
9,Histidine,H,moderate,+,8.97,1.78,6,4.19
10,Methionine,M,moderate,N,9.21,2.28,,5.14
11,Alanine,A,hydrophobic,N,9.87,2.35,,15.8
12,Valine,V,hydrophobic,N,9.72,2.29,,5.6
13,Glycine,G,hydrophobic,N,9.60,2.34,,22.5
14,Isoleucine,I,hydrophobic,N,9.76,2.32,,3.36
15,Leucine,L,hydrophobic,N,9.60,2.36,,2.37
16,Phenylalanine,F,hydrophobic,N,9.24,2.58,,2.7
17,Proline,P,hydrophobic,N,10.60,1.99,,1.54
18,Tryptophan,W,hydrophobic,N,9.39,2.38,,1.06
19,Tyrosine,Y,hydrophobic,N,9.11,2.20,10.1,0.038